html,
body,
#root,
.app,
.content {
  /* height: 100%; */
  width: 100%;
  background-color: #f9f9f9;
}

.content {
  margin-top: 60px;
  padding: 30px !important;
}

.app {
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555; 
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  min-height: 60vh;
  min-width: 45vw;
}

.css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: initial;
}