html,
body,
#root,
.app,
.content {
  /* height: 100%; */
  width: 100%;
  background-color: #f9f9f9;
}

.content {
  margin-top: 60px;
  padding: 30px !important;
}

.app {
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555; 
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  min-height: 60vh;
  min-width: 45vw;
}

.css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: initial;
}

.css-qtomf8-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #7A88D2 !important;
}

.css-qtomf8-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #DCE2F8 !important;
}

.css-opt7yd-MuiStepIcon-text {
  fill: white !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  height: 13px !important;
}

.css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-9wocm4-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #7A88D2 !important;
}

.css-1km1op1-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #7A88D2 !important;
}